<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/reset.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
      <main>
        <img class="avatar" width="160" height="160" src="<%= content.avatar %>" />
        <h1 class="name"><%= content.name %></h1>
        <span class="bio"><%= content.bio %></span>
        <%- include("./partials/socials.ejs"); %>
        <%- include("./partials/links.ejs"); %>
      </main>
    </body>
</html>
