<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/reset.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
      <main>
        <img class="avatar" width="192" height="192" src="<%= content.avatar %>" />
        <h1><%= content.name %></h1>
        <h2><%= content.bio %></h2>
        <%- include("./partials/socials.ejs"); %>
        <%- include("./partials/links.ejs"); %>
      </main>
    </body>
</html>
